{% extends 'base.html' %}

{% block title %} Sign in - ClinicHub {% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="box-center" style=" display: flex; justify-content: center;">
      <div class="NotiPane" style=" height:60vh; width:600px">
            <div class="Gapper_UltraSmall"></div>
            <div class="NotiPane_HeaderText"> Sign in </div>
            <div class="box-center" style="margin-top: 50px; bottom: 80px">

              <div class="panel panel-default">
                <div class="panel-body">
                  <form action="" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                      <label for="username">Username</label>
                      <input id="username" type="text" name="username" maxlength="30" class="form-control" required autofocus />
                    </div>
                    <div class="form-group">
                      <label for="password">Password</label>
                      <input id="password" type="password" name="password" class="form-control" required />
                    </div>
                    <div class="form-group">
                      <input type="submit" value="Login" class="btn btn-primary" />
                      <a href="/doctor/login">Sign in as Doctor</a>
                    </div>
                    {% if error_message %}
                      <div class="alert alert-danger" role="alert">{{ error_message }}</div>
                    {% endif %}
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>
{% endblock %}
