{% extends '../base.html' %}

{% block content %}
  <div>
    <div class="nav-menu-center">
      <ul style="margin-top: -10px;position: fixed;text-align: center;width: 100%;height: 30px;top: 60px;left: 0px;color: #9b9b9b;background-color: #eeeeee;font-size:14px; padding-top:5px">
            <li role="presentation" ><a href="{% url 'patient_info' %}" class="UserMenuCustomize {% if page == "info" %}activeMenu{% endif %} ">Information</a></li>
            <li role="presentation" ><a href="{% url 'patient_sessions' %}" class="UserMenuCustomize {% if page == "sessions" %}activeMenu{% endif %} ">Sessions</a></li>
            <li role="presentation" ><a href="{% url 'patient_payment' %}" class="UserMenuCustomize {% if page == "payment" %}activeMenu{% endif %} ">Payment</a></li>
            <li role="presentation" ><a href="{% url 'patient_appointments' %}" class="UserMenuCustomize {% if page == "appointments" %}activeMenu{% endif %}">Appointments</a></li>
            <li role="presentation" ><a href="{% url 'patient_transcripts' %}" class="UserMenuCustomize {% if page == "transcripts" %}activeMenu{% endif %}">Transcripts</a></li>
      </ul>
    </div>
    <div style="margin-bottom:20px"></div>
    {% block innercontent %}
    {% endblock innercontent %}
  </div>
{% endblock content %}
