{% extends '../base.html' %}

{% block content %}
  <div class="col-md-8 col-md-offset-2" style="text-align: center;">
    <h2>Patient profile</h2>
    <ul class="nav nav-pills nav-menu-center">
      <li role="presentation" class="{% if page == "profile" %}active{% endif %}"><a href="{% url 'patient_profile' %}">Home</a></li>
      <li role="presentation" class="{% if page == "info" %}active{% endif %}"><a href="{% url 'patient_info' %}">Information</a></li>
      <li role="presentation" class="{% if page == "sessions" %}active{% endif %}"><a href="{% url 'patient_sessions' %}">Sessions</a></li>
      <li role="presentation" class="{% if page == "payment" %}active{% endif %}"><a href="{% url 'patient_payment' %}">Payment</a></li>
      <li role="presentation" class="{% if page == "appointments" %}active{% endif %}"><a href="{% url 'patient_appointments' %}">Appointments</a></li>
      <li role="presentation" class="{% if page == "transcripts" %}active{% endif %}"><a href="{% url 'patient_transcripts' %}">Transcripts</a></li>
    </ul>
    {% block innercontent %}
    {% endblock innercontent %}
  </div>
{% endblock content %}
