{% extends './base.html' %}

{% block innercontent %}
<div class="container">
  <div class="row">
    <div class="box-center" style=" display: flex; justify-content: center;">
      <div class="NotiPane" style=" height:80vh; width:650px">
            <div class="Gapper_UltraSmall"></div>
            <div class="NotiPane_HeaderText"> <h3>Patient Information</h3> </div>
            <div class="NotiPane_Space" style="top: 50px; bottom: 80px; margin-top:10%; margin-left:25%">
                <p style="font-size: 20px;">
                  <b>Username: </b> {{user.username}}<br />
                  <b>Email: </b> {{user.username}}<br />
                  <b>Name: </b> {{user.firstname}} {{user.lastname}}<br />
                  <b>Date of birth: </b> {{user.birthdate}}<br />
                  <b>ID Number: </b> {{user.id_no}}<br />
                  <b>Phone Number: </b> {{user.phone_no}}<br />
                  <b>Address: </b> {{user.address}}<br />
                  <b>Allergy Information: </b> {{user.allergy}}<br />
                </p>
                <button class="btn btn-primary" >Edit</button>
            </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
