{% extends './base.html' %}

{% block innercontent %}
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-body">
        <div id="balance-adder"></div>
      </div>
    </div>
  </div>
{% endblock %}

{% load static %}
{% block js %}
  <script type="text/javascript" src="{% static 'js/vendors.js' %}"></script>
  <script type="text/javascript">
    window.patient = "{{ user_id }}"
  </script>
  <script type="text/javascript" src="{% static 'js/balanceAdder.js' %}"></script>
{% endblock %}