{% extends '../base.html' %}

{% block title %}Prescription{% endblock %}

{% block content%}
  <h1>Prescription</h1>
  {% if not error_message%}
  <div>
    <p><b>Doctor: </b>{{prescription.doctor}}</p>
    <p><b>Patient: </b>{{prescription.patient}}</p>
    <p><b>Note: </b>{{prescription.note}}</p>
    <p><b>Drugs: </b></p>
    <ul>
      {% for drug in prescription.drugs%}
        <li>
          <b>{{ drug.name }}</b><br />
          Amount: {{ drug.amount }}<br />
          Usage: {{ drug.usage }}
        </li>
      {% endfor %}
    </ul>
  </div>
  {% else %}
    {{error_message}}
  {% endif %}
{% endblock%}
