{% extends './base.html' %}

{% block innercontent %}
  {% if doctor.clinic %}
    <div id="clinic-manager" class="col-md-8 col-md-offset-2"></div>
  {% else %}
    <div style="text-align: center;">
      <h3>You do not belong to any clinic.<br />You have to wait for invitation or create a clinic.</h3>
      <a href="{% url 'doctor_create_clinic' %}" class="btn btn-primary">Create clinic</a>
    </div>
  {% endif %}
  {{error_message}}
{% endblock %}

{% load static %}
{% block js %}
  {% if doctor.clinic %}
    <script type="text/javascript" src="{% static 'js/vendors.js' %}"></script>
    <script type="text/javascript">
      window.clinicId = '{{doctor.clinic}}'
      window.doctorId = '{{doctor.id}}'
    </script>
    <script type="text/javascript" src="{% static 'js/clinicManager.js' %}"></script>
  {% endif %}
{% endblock %}
