{% extends './base.html' %}

{% block innercontent %}
  <div class="col-md-8 col-md-offset-2">
  <div class="panel panel-default">
      <div class="panel-body">
  <h3>Create clinic</h3>
  <form class="form" action="" method="post">
    {% csrf_token %}
    <div class="form-group">
      <label for="clinic-name">Clinic name</label>
      <input type="text" id="clinic-name" class="form-control"  name="name" />
    </div>
    <div class="form-group">
      <label for="clinic-description">Clinic description</label>
      <textarea type="text" id="clinic-description" class="form-control" rows="5" name="description"></textarea>
    </div>
    <div class="form-group">
      <label for="clinic-price">Clinic rate</label>
      <input type="text" id="clinic-price" class="form-control"  name="price" />
    </div>
    <div class="form-group">
      <label for="clinic-img_url">Clinic avatar url</label>
      <input type="text" id="clinic-img_url" class="form-control"  name="img_url" />
    </div>
    <input type="submit" class="btn btn-success" value="Create clinic" />
    <a href="{% url 'doctor_clinic' %}" class="btn btn-default">Back</a>
    {% if error_message %}
      <div class="alert alert-danger">
        {{error_message}}
      </div>
    {% endif %}
  </form>
      </div>
    </div>
  </div>
{% endblock %}
