{% extends './base.html' %}

{% block innercontent %}
<div class="container">
  <div class="row LineSpace">
    <div class="box-center" style=" display: flex; justify-content: center;">
      <div class="NotiPane" style=" height:500px; width:650px">
            <div class="Gapper_UltraSmall"></div>
            <div class="col-md-12 NotiPane_HeaderText"> Doctor Information </div>
            <!-- <div class="Gapper_Medium"></div>   -->
            <div class="NotiPane_Space" style="bottom: 40px; overflow:visible">
              <div class="container LabelManual_Font_Medium" style="width:100%">
                <div class="row LineSpace" style="margin-top:10%; text-align: center;" >
                    <img src="{{ user.img_url }}" class="img-circle" style="width: 200px;" />
                </div>
                <div class="row LineSpace" style="margin-top:10%;" >
                  <div class="col-md-5 col-xs-5 InfoTitleBox">
                    <b>Username: </b>
                  </div>
                  <div class="col-md-offset-1 col-md-6 col-xs-6 col-xs-offset-1">
                    {{user.username}}
                  </div>
                </div>
                <div class="row LineSpace" >
                  <div class="col-md-5 col-xs-5 InfoTitleBox">
                    <b>Email: </b>
                  </div>
                  <div class="col-md-offset-1 col-md-6 col-xs-6 col-xs-offset-1">
                    {{user.email}}
                  </div>
                </div>
                <div class="row LineSpace"  >
                  <div class="col-md-5 col-xs-5 InfoTitleBox">
                    <b>Name: </b>
                  </div>
                  <div class="col-md-offset-1 col-md-6 col-xs-6 col-xs-offset-1">
                     {{user.fullname}}
                  </div>
                </div>
                <div class="row LineSpace"  >
                  <div class="col-md-5 col-xs-5 InfoTitleBox">
                    <b>Date of birth: </b>
                  </div>
                  <div class="col-md-offset-1 col-md-6 col-xs-6 col-xs-offset-1">
                    {{user.birthdate | date:"j M Y"}}
                  </div>
                </div>
                <div class="row LineSpace"  >
                  <div class="col-md-5 col-xs-5 InfoTitleBox">
                    <b>ID Number: </b>
                  </div>
                  <div class="col-md-offset-1 col-md-6 col-xs-6 col-xs-offset-1">
                    {{user.id_no}}
                  </div>
                </div>
                <div class="row LineSpace"  >
                  <div class="col-md-5 col-xs-5 InfoTitleBox">
                    <b>Field: </b>
                  </div>
                  <div class="col-md-offset-1 col-md-6 col-xs-6 col-xs-offset-1">
                      {{user.field}}
                  </div>
                </div>
                <div class="row LineSpace"  >
                  <div class="col-md-5 col-xs-5 InfoTitleBox">
                    <b>Clinic: </b>
                  </div>
                  <div class="col-md-offset-1 col-md-6 col-xs-6 col-xs-offset-1">
                      {{user.clinic.name}}
                  </div>
                </div>
                <div class="row LineSpace"  >
                  <div class="col-md-5 col-xs-5 InfoTitleBox">
                    <b>MD Number: </b>
                  </div>
                  <div class="col-md-offset-1 col-md-6 col-xs-6 col-xs-offset-1">
                    {{user.md_no}}
                  </div>
                </div>
                <div class="row LineSpace" style="text-align:center; margin-top:10%">
                  <button class="ButtonStandard Button_RedColor ButtonStandard_RoundCorner ButtonHeight_OneLineText_Small ButtonWidth_Small" style="padding-top:1px" >Edit</button>
                </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
