{% extends './base.html' %}
{% load static %}
{% block innercontent %}

  <div class="row">
    <div class="box-center" style=" display: flex; justify-content: center; height:90vh ; overflow:none;">
      <div class="NotiPane" style=" height:80vh; width:400px">
            <div class="Gapper_UltraSmall"></div>
            <div class="NotiPane_HeaderText"> Session </div>
            <div class="NotiPane_Space" style="top: 50px; bottom: 80px">
                <div class="colorgray1 ExpandableList">
                    <div class="ExpandableList_TopLabel">&nbsp;All Session</div>
                    {% for session in sessions %}
                    <div class="BigSpaceList BigSpaceList_Grey BigSpaceList_GreyBorder1">

                        <div class="MultiLineLabel LabelManual_Font_Medium" style="margin: 10px"> {{session.topic}}<br> <span style="color: red">{{session.patient}}</span> </div>
                        <div class="Square_Tiny RoundImage RoundButton RoundButton_Red" style="position: absolute; top: 10px; right: 10px">
                          <a href="{% url 'session' session.id %}">
                            <img src="{% static "resource/ArrowRed.png" %}" class="RoundButton_Arrow">
                          </a>
                        </div>
                        <div class="LabelManual LabelManual_Font_Small Unique_SessionPage_RedDateLabel">13:05 PM</div>
                    </div>
                    {% endfor %}
                </div>

                <div class="colorgray1 ExpandableList">
                    <div class="ExpandableList_TopLabel">&nbsp;History Session</div>
                    <div class="BigSpaceList BigSpaceList_UltraGrey BigSpaceList_UltraGreyBorder1">
                        <div class="MultiLineLabel LabelManual_Font_Medium" style="margin: 10px; color: #cdcdcd"> My Thoart Is Hurt<br> Clinic : Hellgate </div>
                        <div class="Square_Tiny RoundImage RoundButton RoundButton_Grey RoundButton_Grey_Dot"> ... </div>
                        <div class="LabelManual LabelManual_Font_Small Unique_SessionPage_DateLabel">15 July 2018</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>

{% endblock %}
