<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">ClinicHub</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/doctor">For Doctor</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {% if not username %}
          <li><a href="/register">Register</a></li>
          <li><a href="/login">Sign in</a></li>
        {% elif type == 'doctor' %}
        {% else %}
          <p class="navbar-text">Signed in as {{ username }}</p>
          <li><a href="/profile">My profile</a></li>
          <li><a href="/logout">Log out</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
