<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'index' %}">ClinicHub</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="{% url 'index' %}">Home</a></li>
        <li><a href="{% url 'doctor_index' %}">For Doctor</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {% if not request.session.username %}
          <li><a href="{% url 'register' %}">Register</a></li>
          <li><a href="{% url 'login' %}">Sign in</a></li>
        {% elif request.session.user_type == "doctor" %}
          <p class="navbar-text">Signed in as Dr. {{ request.session.username }}</p>
          <li><a href="{% url 'doctor_profile' %}">My profile</a></li>
          <li><a href="{% url 'logout' %}">Log out</a></li>
        {% else %}
          <p class="navbar-text">Signed in as {{ request.session.username }}</p>
          <li><a href="{% url 'patient_profile' %}">My profile</a></li>
          <li><a href="{% url 'logout' %}">Log out</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
